@base-color: #000000; //#ea5b27
@sub-color: #999;
@heading-color: #555;
@font-size: 15px;

html, body {
  position: relative;
  width: 210mm;
  height: 297mm;
  margin-left: auto;
  margin-right: auto;

  @media screen {
    border: 1px solid #aaa;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: @font-size;
}

header {
  height: 175px;
}

div.row ~ div.row {
  margin-top: 25px;
}

.row {
  text-align: center;
}

.row.text-right {
  text-align: right;
}

.content {
  display: inline-block;
}

.col {
  width: 47%;
  height: 100%;
  padding-left: 5px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

#title, #contact {
  color: @heading-color;
}

#title {
  #photo {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid @base-color;
    overflow: hidden;

    img {
      width: 200px;
      height: 200px;
      transform: translate(-50px, -50px);
    }
  }

  #name {
    padding: 10px;
    font-size: 1.5em;
    color: #000;

    .last-name {
      font-weight: 500;
    }
  }

  #role {
    border-top: 1px solid @base-color;

    p {
      display: inline-block;
      padding: 0 5px;
      background: #fff;
      transform: translateY(-50%);
    }
  }
}

#contact {
  font-size: @font-size - 1px;

  li {
    padding: 3px 0;

    img {
      height: 1em;
      line-height: 1em;
      vertical-align: middle;
    }

    span {
      padding-left: 5px;
    }
  }
}

.row {
  .head {
    .icon img {
      width: 32px;
      height: 32px;
    }

    p {
      padding: 10px 0 10px 0;
      font-size: 1.3em;
      font-weight: 400;
      color: @base-color;
    }
  }

  .body {
    text-align: justify;

    &.flex {
      display: flex;
      text-align: center;

      & > .entry {
        padding: 0 5px;
        flex: 1 0 0;

        &:first-child {
          text-align: right;
          border-right: 1px solid @sub-color;
        }

        &:last-child {
          text-align: left;
          border-left: 1px solid @sub-color;
        }
      }
    }

    &.bubbles {
      transform: translate(5%, 5%);
      display: flex;

      .entry {
        text-align: center;
        flex: 0 0 75px;
      }

      .bubble {
        width: 75px;
        height: 75px;
        border-radius: 100px;
        border: 1px solid @sub-color;
        background: #fff;

        img {
          display: inline-block;
          margin: auto;
          width: 38px;
          height: 38px;
          transform: translate(5%, 50%);
        }
      }

      .line {
        width: 1px;
        height: 25px;
        background: @sub-color;
        display: inline-block;
      }

      p {
        padding: 5px;
        color: @base-color;
      }
    }
  }

  .timeline {
    padding-left: 10px;
    border-left: 2px solid @base-color;

    .entry {
      margin: 10px 0;

      .period {
        font-weight: bold;
      }

      .period {
        &:before {
          content: '';
          position: absolute;
          transform: translate(-18.8px, -2px);
          width: 10px;
          height: 10px;
          background: @base-color;
          border: 3px solid #fff;
          border-radius: 10px;
        }
      }
    }
  }

  .entry {
    .title {
      font-weight: bold;
    }

    .title, .description p {
      margin: 5px 0;
    }

    .description p {
      &.sub {
        font-style: italic;
        margin: 10px 0;
        padding-left: 5px;
        border-left: 1px solid @sub-color;
        line-height: 1.3em;
      }

      strong {
        font-weight: 500;
        color: #333;
      }
    }

    &.title-desc {
      display: flex;

      .title {
        padding-right: 5px;
        text-align: right;
        flex: 0 0 30%;
      }

      .description {
        padding-left: 5px;
        flex: 1 0 0;
      }
    }
  }
}